:root {
  font: 16px / 1 sans-serif;
  font-family: serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.Header sub {
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-align: center;
  height: 6rem;
  background-color: #10631b;
  text-decoration: none;
  text-decoration-color: none;
}

.Hero {
  font-size: 2rem;
  font-weight: bolder;
  background-color: #10631b;
  border: solid;
  border-radius: 0.25rem;
  border-color: rgb(226, 233, 226);
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

span {
  color: blue;
}

.Landing {
  width: 26.875rem;
  height: 43.75rem;
  padding: 3.75rem 2.188rem 2.188rem 2.188rem;
  border-radius: 2.5rem;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.Landing-Flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.Landing-Parent {
  text-align: center;
  margin-top: 10%;
  justify-content: center;
}

.Site-Icon {
  object-fit: contain;
  border-radius: 2rem;
  background-image: url('./images/creator_icon.jpg');
}

.Site-Icon-Parent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Site-Icon > img {
  object-fit: contain;
  height: 12.5%;
  width: 100%;
}

.Site-Icon-Parent {
  width: 30%;
}

.Landing > h2 {
  height: 12.5%;
}

.Landing > h3 {
  height: 12.5%;
}

.Landing > h5 {
  height: 12.5%;
}

.Login-Button {
  height: 14.2857%;
}
