:root {
  font-family: 'Oswald', sans-serif;
}

@font-face {
  font-family: 'Oswald';
  src: url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Oswald', sans-serif;
  background-image: url('./images/papyrus.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-align: center;
  height: 6rem;
  text-decoration: none;
  text-decoration-color: none;
  a {
    padding: 1rem;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
  }
  a:link {
    text-decoration: none;
    color: white;
  }
  a:visited {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: white;
  }
  a:active {
    text-decoration: none;
    color: white;
  }
}

.Header {
  background-image: url('./images/wood.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Header-Button {
  width: 90%;
  height: 100%;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 1.5rem;
  color: white;
  background-image: url('./images/wood.jpg');
  span {
    color: blue;
  }
}

.Landing-Form {
  width: 28.75rem;
  height: auto;
  padding: 3.75rem 2.188rem 2.188rem 2.188rem;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
  h2 {
    padding-top: 1rem;
    text-align: center;
  }
}

.Landing-Flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.Landing-Parent {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  justify-content: center;
}

.Site-Icon {
  background-image: url('./images/icon.jpg');
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 2px #9dd4fd, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #9dd4fd,
    -8px -8px 15px #ffffff;
}

.Character-Icon {
  background-image: url('./images/dagger.jpg');
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.Landing-Span {
  color: blue;
}

img {
  object-fit: contain;
}

.Login-Button-Div {
  padding-top: 1rem;
}

.Login-Button {
  height: 2rem;
  width: auto;
  border-radius: 1rem;
  background-image: url('./images/wood.jpg');
  margin-bottom: 0.5rem;
  color: white;
  box-shadow: 7px 7px 10px #000000;
}

.Delete-Item-Button-Div {
  @extend .Login-Button-Div;
}

.Delete-Item-Button {
  @extend .Login-Button;
  height: auto;
}

.Register-Form {
  @extend .Landing-Form;
  margin: 0;
}

.Register-Flex {
  @extend .Landing-Parent;
}

.Register {
  @extend .Landing-Flex;
  h3 {
    padding-top: 1rem;
  }
}

.Register-Button {
  @extend .Login-Button;
}

.Create-Char-Flex {
  @extend .Landing-Flex;
}

.Create-Char-Parent {
  @extend .Landing-Parent;
}

.Create-Char-Button {
  @extend .Login-Button;
}

.Create-Char-Button-Div {
  padding-top: 0.5rem;
}

.Char-Languages-Parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.Create-Char-Form {
  width: 29.875rem;
  height: auto;
  padding: 3.75rem 2.188rem 2.188rem 2.188rem;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  h2 {
    padding-top: 1rem;
    text-align: center;
  }
  h3 {
    padding-top: 2rem;
  }
  h5 {
    padding-top: 0.5rem;
  }
}

.Create-Stat-Flex {
  @extend .Landing-Flex;
}

.Create-Stat-Parent {
  @extend .Landing-Parent;
}

.Create-Stat-Button {
  @extend .Login-Button;
}

.Create-Stat-Button-Div {
  padding-top: 0.5rem;
}

.Create-Stat-Form {
  width: 29.875rem;
  height: auto;
  padding: 3.75rem 2.188rem 2.188rem 2.188rem;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  h2 {
    padding-top: 1rem;
    text-align: center;
  }
  h3 {
    padding-top: 2rem;
  }
  h5 {
    padding-top: 0.5rem;
  }
}

.Char-Details-Top-Bar {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 98%;
  height: auto;
  padding: 2rem 1rem 1rem 2rem;
  border: 5px double #a4a19f;
  border-radius: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  margin-bottom: 1rem;
}

.Name-Class-Level {
  padding-right: 0.4rem;
}

.Race-Alignment-XP {
  padding-left: 0.4rem;
}

.Char-Details-Left-Bar-Stats-And-Skills {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.Equip-List-Item {
  border: 1px solid black;
}

.Char-Details-Left-Bar-Stats {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.Char-Details-Strength {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  width: 8rem;
  height: 6rem;
  border: 1px solid blue;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 2.5rem;
}

.Char-Details-Left-Bar-Skills {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-top: 1rem;
  width: 40%;
  margin-left: 2rem;
  height: auto;
  border: 3px solid grey;
  padding: 1rem 0.5rem 0.5rem 1rem;
  border-radius: 2.5rem;
}

.Skills {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-top: 1rem;
  width: 40%;
  height: auto;
  border: 3px solid grey;
  margin-left: 2rem;
  padding: 1rem 0.5rem 0.5rem 1rem;
  border-radius: 2.5rem;
}

.Skill-Item {
  padding-top: 0.5rem;
}

.Left-Bar-Perception-And-Lang-And-Other {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem 0.5rem 0.5rem 1rem;
  border-radius: 2.5rem;
}

.Middle-Bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 1rem;
}

.AC-HP-Death-Saves-Etc {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 48vw;
  margin-left: 0.4rem;
  height: auto;
  padding: 1rem 0.5rem 0.5rem 1rem;
  border: 5px double #a4a19f;
  border-radius: 2.5rem;
}

.Right-Bar {
  @extend .Skills;
  width: 90%;
  margin-top: 1rem;
  margin-left: 5%;
}

.Saving-Throw {
  padding-top: 0.5rem;
}

.Bottom-Bar {
  @extend .Skills;
  width: 90%;
  margin-top: 1rem;
  margin-left: 5%;
}

.Attacks-And-Spells {
  visibility: hidden;
}

.Equipment {
  @extend .AC-HP-Death-Saves-Etc;
  width: 48%;
}

.Roll-Stat-Button {
  @extend .Login-Button;
}

.Roll-Stat-Button-Div {
  padding-top: 0.5rem;
}

.Character-List {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 29.875rem;
  padding-top: 2rem;
}

.Character-List-Item {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.Char-Det-Lang {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.Site-Icon-2 {
  @extend .Site-Icon;
}

ul {
  list-style: none;
}

@media (max-width: 800px) {
  .Header-Button {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

@media (max-width: 580px) {
  .Header-Button {
    font-size: 1rem;
    font-weight: bold;
  }
}

.Link {
  a:link {
    text-decoration: none;
    color: black;
  }
  a:visited {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: none;
    color: black;
  }
  a:active {
    text-decoration: none;
    color: black;
  }
}
